.input {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 0;
    font-weight: inherit;
}

.inputWrap {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    border: 1px solid rgba(28, 24, 25, 0.2);
    background-color: var(--white);
    background-clip: padding-box;
    color: var(--black-primary);

    &:focus-within {
        border-color: var(--orange);
        outline: none;
    }
}

.inputField {
    display: block;
    width: 100%;
    height: 42px;
    padding: 10px 0 10px 12px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: inherit;
    line-height: 1.5rem;
    border: none;
    background-color: transparent;
    appearance: none;

    &[type="search"] {
        &,
        &::-webkit-search-decoration {
            appearance: none;
        }

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }
    }

    &::-ms-reveal,
    &::-ms-clear {
        display: none;
    }

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: var(--gray);
    }
}

.inputActionBox {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
}
