.loginForm {
    position: relative;
    width: 100%;
    max-width: 420px;
    padding: 20px 20px 30px;
    background-color: var(--white);
    border-radius: var(--radius);
    box-shadow: 0 5px 10px 0 rgba(28, 24, 25, 0.15);
}

.loginFormTitle {
    margin-bottom: 16px;
    font-size: 1rem;
    font-weight: var(--f-weight-regular);
    line-height: 1.5rem;
    color: var(--black-primary);
}

.loginFormEmail {
    margin-bottom: 16px;
}

.loginFormPassword {
    margin-bottom: 24px;
}
