.loginPreview {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 420px;
}

.loginPreviewLogo {
    display: flex;
    margin-bottom: 16px;

    img {
        width: 100%;
        max-width: 112px;
    }
}

.loginPreviewText {
    margin-bottom: 32px;
    font-size: 0.875rem;
    font-weight: var(--f-weight-regular);
    line-height: 1.5rem;
    color: var(--black-primary);
}
